<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0LYzO1Zlps82rVUBfwid4t0yjntpgvss</string>
	<key>GCM_SENDER_ID</key>
	<string>960001935103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.com.juliansalazar.challenge-meli-ios</string>
	<key>PROJECT_ID</key>
	<string>challenge-meli-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-meli-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960001935103:ios:08a8f99fdb37d24ed96eca</string>
</dict>
</plist>